<link rel="icon" href="/assets/layout_images/favicon-32.png" sizes="32x32">
<link rel="icon" href="/assets/layout_images/favicon-128.png" sizes="128x128">
<link rel="icon" href="/assets/layout_images/favicon-192.png" sizes="192x192">
<link rel="apple-touch-icon" href="/assets/layout_images/favicon-120.png" sizes="120x120">
<link rel="apple-touch-icon" href="/assets/layout_images/favicon-152.png" sizes="152x152">
<link rel="apple-touch-icon" href="/assets/layout_images/favicon-180.png" sizes="180x180">
<meta name="msapplication-TileColor" content="#fcfbf7">
<meta name="msapplication-square70x70logo" content="/assets/layout_images/favicon-128.png"/>
<meta name="msapplication-square150x150logo" content="/assets/layout_images/favicon-270.png"/>
<meta name="msapplication-TileImage" content="/assets/layout_images/favicon-270.png">
<meta name="msapplication-config" content="none" />
