@font-face {
    font-family: 'FreightMicroPro';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('/assets/fonts/FreightMicroProMedium-Regular.eot');
    src: url('/assets/fonts/FreightMicroProMedium-Regular.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/FreightMicroProMedium-Regular.woff2') format('woff2'),
         url('/assets/fonts/FreightMicroProMedium-Regular.woff') format('woff'),
         url('/assets/fonts/FreightMicroProMedium-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'FreightMicroPro';
    font-weight: normal;
    font-style: italic;
    font-display: swap;
    src: url('/assets/fonts/FreightMicroProMedium-Italic.eot');
    src: url('/assets/fonts/FreightMicroProMedium-Italic.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/FreightMicroProMedium-Italic.woff2') format('woff2'),
         url('/assets/fonts/FreightMicroProMedium-Italic.woff') format('woff'),
         url('/assets/fonts/FreightMicroProMedium-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'FFTisaSans';
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
    src: url('/assets/fonts/FFTisaSans-Regular.eot');
    src: url('/assets/fonts/FFTisaSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/FFTisaSans-Regular.woff2') format('woff2'),
         url('/assets/fonts/FFTisaSans-Regular.woff') format('woff'),
         url('/assets/fonts/FFTisaSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'FFTisaSans';
    font-weight: normal;
    font-style: italic;
    font-display: fallback;
    src: url('/assets/fonts/FFTisaSans-Italic.eot');
    src: url('/assets/fonts/FFTisaSans-Italic.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/FFTisaSans-Italic.woff2') format('woff2'),
         url('/assets/fonts/FFTisaSans-Italic.woff') format('woff'),
         url('/assets/fonts/FFTisaSans-Italic.ttf') format('truetype');
}

$header-font-stack: FreightMicroPro, Palatino, Georgia, serif;
$body-font-stack: FFTisaSans, Avenir, Arial, sans-serif;
$code-font-stack: 'Source Code Pro', monospace;
