---
layout: no_sidebar
---

<h1>Archive of posts from {{ page.date | date: "%Y" }}</h1>

<table class="archive-posts">
    {% for post in page.posts %}
    <tr>
        <td class="archive-date">
            <time datetime="{{ post.date | date_to_xmlschema }}">
                {{ post.date | date: "%b %-d" }}
            </time>
        </td>
        <td>
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </td>
        <td>{{ post.location }}</td>
    </tr>
    {% endfor %}
</table>
